<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Mes Produits</title>
</head>
<body>

<div class="container">

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Di@Product</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/produits}">Produits</a>
            </li>
        </ul>
    </nav>

    <div class="row">
        <h2>Mes Produits</h2>
    </div>
    <div class="row">
        <div class="col ">
            <a th:href="@{/produits/new} " class="btn btn-primary btn-ms-mb-5"><strong>Add Produits </strong></a>
        </div>
    </div>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Id_Produits</th>
            <th scope="col">Nom_Produits</th>
            <th scope="col">Prix</th>
            <th scope="col">Quantité_Produits</th>
            <th scope="col">Adress</th>
            <th scope="col">Téléphone</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="produit: ${produits}">
            <td th:text="${produit.id}"></td>
            <td th:text="${produit.nom}"></td>
            <td th:text="${produit.prix}"></td>
            <td th:text="${produit.quantite}"></td>
            <td th:text="${produit.adress}"></td>
            <td th:text="${produit.tel}"></td>

            <td>
                <a th:href="@{/produits/edit/{id}(id=${produit.id})}" class="btn btn-primary">Modifier</a>
                <a th:href="@{/produits/{id}(id=${produit.id})}" class="btn btn-danger">Supprimer</a>

            </td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>